<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/graficosApartado2" method="post">
    <p>
        Introduce el numero de usuarios que quieres mostrar:
        <input type="number" name="numU" id="numU" min="0" value="0">
    </p>
    <p>
        Introduce el numero de webs que quieres mostrar:
        <input type="number" name="numW" id="numW" min="0" value="0">
    </p>
    <input type="submit" value="Mostrar Graficos">
</form>
</body>
</html>